

<html>
    <body>
        <form asp-controller="PushNotification" asp-action="Post" method="POST">
            <textarea name="message"></textarea>
            <input type="submit" name="" value="Send"/>
        </form>
    </body>
</html>
